@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100&family=Lemon&display=swap');

body {
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
    flex-direction: column;
    text-align: center;
}

.main {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#etchBoard{
    position: absolute;
    right: 430px;
}

.board {
    /* border: 2px solid black; */
    border-radius: 25px;
    height: 480px;
    width: 790px;
    display: grid;
    margin-top: 110px;
    margin-right: 560px;
    margin-left: 260px;
    position: relative;
}

.choiceButtons {
    /* display: flex;
    justify-content: center;
    flex-direction: column; */
    margin: 10px;
    
}

.customization {
    border: 2px solid black;
    height: 550px;
    margin-left: 140px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: beige;
}

#randomBTN {
    height: 30px;
}

