@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100&family=Lemon&display=swap');

body {
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
    flex-direction: column;
    text-align: center;
    background-color: antiquewhite; 
}

.empty {
   height: 30px;
}

.main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 700px;
}

.boardContainer {
    margin-bottom: 100px;
    /* animation: shake 0.8s ease-in-out forwards; */
}

#etchBoard{
    position: absolute;
    right: 430px;
    
}

.board {
    /* border: 2px solid black; */
    border-radius: 25px;
    height: 484px;
    width: 792px;
    display: grid;
    margin-top: 110px;
    margin-right: 538px;
    margin-left: 238px;
    position: relative;
}

.choiceButtons {
    margin: 10px;   
}

.customization {
    border: 2px solid black;
    height: 550px;
    margin-left: 140px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: beige;
}


.choiceButtons > img {
    height: 30px; 
}

.choiceButtons > img:hover {
    /* border: 1px solid blue; */
    background-color: cornflowerblue;
}

.choiceButtons > img:focus {
    background-color: cornflowerblue;
}

.shake {
    animation: shake 0.8s ease-in-out forwards;
}

@keyframes shake {
    0%, 100%{
        transform: translate(0, 0);
    }

    10%,30%,50%,70%,90%{
        transform: translateY(40px);
    }
    20%,40%,60%,80%{
        transform: translateY(-40px);
    }
}